
.App{
  text-align: center;
  font-size: large;
  margin: 5%;
  background-color: rgb(212, 219, 225);
  font-family:Arial, Helvetica, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
a:any-link{
  color: black;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0a1629;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: coral;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Article-title{
  text-decoration: none;
  color:black;
}

.Sortbuttons{
 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  column-gap: 20px;

}
.button1{
  background-color:white;
  text-decoration: none;
  font-size: large;
  border-radius: 2px;
  border : 1px solid black;

  padding: 1%;
}
.button2{
  background-color:white;
  text-decoration: none;
  font-size: large;
  border-radius: 2px;
  border : 1px solid black;
 
  padding: 1%;
}
.button3{
  background-color:white;
  text-decoration: none;
  font-size: large;
  border-radius: 2px;
  border : 1px solid black;

  padding: 1%;
}
.topicbuttons{
  display: flex;
  flex-direction:row;
justify-content: center;
gap: 10px;



 
 }
.individualtopicbuttons{
  background-color:white;
  text-decoration: none;
  font-size: large;
padding: 1%;
  border-radius: 2px;
  border : 1px solid black;

 
}
.listboxes{
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 align-items:flex-start;
 justify-content: space-around;

}
.articlecard{
  width: 300px;
  padding:5rem;
  margin: 1rem;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
}
.orderbuttons{
  display: flex;
  flex-direction: row;
flex-wrap: wrap;

justify-content: center;
gap:10px;
}
.orderbutton1{
  background-color:white;
  text-decoration: none;
  font-size: large;
  border-radius: 2px;
  border : 1px solid black;
}
.orderbutton2{
  background-color:white;
  text-decoration: none;
  font-size: large;
  border-radius: 2px;
  border : 1px solid black;
}
.sortlist{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
 justify-content: center;
}

.singlecardview{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
align-items: center;
justify-content: center;
}
.topicboxes{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
 
}






.votebutton{
  background-color:darkgreen;
  color:white;
  font-size: large;
  border-radius: 20pc;
  border-color: darkgreen;
}
.commentsform{
  width:90%;
  margin-inline: auto;
  display:grid;
  grid-template-columns:repeat(1, 1fr);
  ;
  gap: 10px;


}
.commentsform .grid_item1{
  color:darkslategray;
  grid-column: 1/2;
  grid-row: 1/1;


  
}
.commentsform .grid_item2{
  grid-column: 1/2;
  grid-row: 2/4;
 
}
.commentsform .grid_item3 {
  grid-column: 1/1;
 padding: 10px;
}
.button {

  background-color:white;
  color: darkgreen;
  border-radius: 20px;
  border : 3px solid darkgreen;
  font-size: large;
  vertical-align: bottom;

}
/* .commentsboxes {
  width:70%;
  margin-inline: auto;
  max-width:1100px;
  display:flex;
  grid-template-columns:repeat(auto-fit minmax (200px, 1fr))
  ;
  gap:10px;
  padding: 5%; */

  .commentlist{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:center;
    gap:10px;
  }
  
    
 
  .individualcommentcard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
padding: 10px;
margin: 15px;
    border : 1px solid darkgreen;
    border-radius: 10px;
  }
  .Deletebutton{
    background-color:white;
    color: darkgreen;
    border-radius: 10px;
    border : 1px solid darkgreen;
    font-size: large;
    vertical-align: botto;
  }


  

.Articleheader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
